#keyword {
  color: #4CA67A;
}

#built_in_function {
  color: #cf2435;
}

#header {
  text-align: left;
  padding: 10px;
}

h1 {
  font-family: 'Book Antiqua', 'Palatino Linotype', Georgia;
}

#post {
  border: solid black;
  padding: 10px;
  width: 40%;
  border-radius: 10%;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: #FF0000;
}

a:visited {
  text-decoration: underline;
  color: #FF0000;
}
