span {
  font-family: Consolas, monospace, sans-serif;
}

#keyword {
  color: #4CA67A;
}

#built_in_function {
  color:  #7b68ee;
}

#int {
  color: #cf2435;
}

.new {
  color: #336699;
}

#about {
  width: 50%;
  font-size: large;
  position: relative;
  left: 10px;
}
