{% extends "base.html" %}
{% block content %}
<div id="about">
This is a blog dedicated to python tutorials, from web development to data scraping.
My name is Benjamin Dominguez -- I am not a professional software developer,
but I have worked with Python and HTML something like 3 years now,
I'm fairly familiar with the Flask web framework,
and my <a href="https://github.com/bendominguez011">github</a> contains the source code to my larger projects.
I use the Flask web framework because it allows me to actually write python code,
something I never felt I was able to do when using Django,
a web framework with a much more extensive core and library.
</div>
{% endblock content %}
