{% extends "base.html" %}
{% block content %}
<ul>
{% for post in posts.items %}
  <div id="post">
    <li><a href="/post/{{post.id}}">{{ post.title }}, {{ post.time_created.month}}/{{post.time_created.month}}/{{post.time_created.year}}</a></li>
  </div>
<hr>
{% endfor %}
</ul>
{% if posts.has_prev %}
<a href="{{ url_for('index', page=posts.prev_num) }}">{{ posts.prev_num }}</a>
{% else %}
Older posts >>
{% endif %}
{% if posts.has_next %}
<a href="{{ url_for('index', page=posts.next_num) }}">{{ posts.next_num }}</a>
{% else %}
<< Newer Posts
{% endif %}
{% endblock content %}
